body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(15, 155, 155);
}
/* Header Styles Start */
header {
    padding: 20px 35px;
    background-color: rgb(25, 119, 119);
    display: flex;
    flex-wrap: wrap;
    top: 0;
    justify-content: space-between;
    width: 100%;
}

header a {
    color:whitesmoke;
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    margin: 0;
    background-image: url("../Assets/Images/download.html");
}

header nav {
    margin: 7px 0;
    text-decoration: whitesmoke;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.60vw;
}
/* Header Styles End */

/* Footer Styles Start */
footer {
    background: rgb(25, 119, 119);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: whitesmoke;
    font-size: 40px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color:whitesmoke
}
/* Footer Styles End */

section {
    padding: 60px;
}

/* Hero Styles Start */
.hero {
    background-image: url("../Assets/Images/white-mint-gradient-background-vector-8346120.jpeg");
    display: flex;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 10%;
    background-size: cover;
    justify-content: space-around;
    width: 96.4%;
}

.hero-image {
    width: auto;
    border-color: whitesmoke;
    margin: 3.5%
}
.hero-cta {
    width: 60%;
    margin: 2.5%;
}

.hero-cta h3 {
    font-style: bold;
    font-size: 55px;
}
/* Hero Styles End

/* About Me Styles Start */
.section-title {
    font-size :48px;
    text-align: center;
    background-color: silver;
    color: white;
    font-weight: 400;
    padding-bottom: 10px;
    margin-inline: 30%;
}

.primary-border {
    border-style: solid;
    border-color: rgb(25, 119, 119);
    border-radius: 50%;
}

.flex-row p {
    text-align: center;
    font-size: 26px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* About Me Styles End */

/* Work Styles Start */
